.App{
  text-align: center;
}

h1 {
  text-align: center;
}

nav {
  text-align: right;
}

.pizzaBtnDiv {
  padding: 2%;
  padding-top: 5%;
  margin: 0 auto;
}

button {
  text-align: center;
  padding: 1%;
  margin-top: 2%;
}


.pizzaBtnDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.stupid{
  padding: 2%;
}

form {
  display: flex;
  flex-direction: column;
}

h2{
  background-color: #cf0e0e;
  color: white;
}
.genInfoDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#cf0e0e;
  padding: 4%;
  font-size: 1.1rem;
  width: 90%;
  margin: 0 auto;
}

.si{
  padding: 1%;
  padding-top: 4%;
}

.si input{
  padding: 6%;
}